<div id="comp-k1mb57ws" aria-disabled="false" class="_2btH0">
  <a data-testid="linkElement" href="/join-our-mailing-list/" target="_blank" class="_2k7xj">
    <span class="nr31w">
      Join Our Mailing List
    </span>
</a>
</div>