<!--
  <div id="comp-k7kr5n0j" class="_3k95X" aria-live="polite" data-testid="search-box-container" tabindex="-1">
  <div class="_1JyyC">
    <div class="_1vLGn">
      <form class="_249eT" data-testid="search-box-form" role="search" action="index.html#">
        <div class="lF8Fv">
          <div class="_2FB6v"></div>
          <div class="_2_MY-" data-testid="search-icon">
            <div class="_3rrF8"><svg viewBox="5 5 14 14">
                <path fill="currentColor" d="M15.683 14.6l3.265 3.265a.2.2 0 010 .282l-.8.801a.2.2 0 01-.283 0l-3.266-3.265a5.961 5.961 0 111.084-1.084zm-4.727 1.233a4.877 4.877 0 100-9.754 4.877 4.877 0 000 9.754z"></path>
              </svg></div>
          </div>
          <div class="_23ru3">
            <div class="we6XB">
              <div id="search-box-input-comp-k7kr5n0j" class="_3KHpU">
                <div class="ABx0f"><input type="search" id="input_search-box-input-comp-k7kr5n0j" class="_3rh7f has-custom-focus" value="" placeholder="Search..." maxlength="100" autocomplete="off" aria-label="Search..."></div>
              </div>
            </div>
          </div><button aria-label="Search..." class="dzPrM has-custom-focus" type="submit">
            <div class="_3rrF8"><svg viewBox="5 5 14 14">
                <path fill="currentColor" d="M15.683 14.6l3.265 3.265a.2.2 0 010 .282l-.8.801a.2.2 0 01-.283 0l-3.266-3.265a5.961 5.961 0 111.084-1.084zm-4.727 1.233a4.877 4.877 0 100-9.754 4.877 4.877 0 000 9.754z"></path>
              </svg></div>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
-->